<div class="col-md-3 col-sm-4 col-md-pull-9 col-sm-pull-8 col-xs-12">

      <div class="nav-side-menu">
        <div class="category"><a href="#"><img src="../assets/images/category.jpg" alt="" class="img-responsive mar-top-0"></a></div>
        <div class="menu-list">
          <ul id="menu-content" class="menu-content collapse out">
            <!-- <li data-toggle="collapse" data-target="#home"> <a href="#"> Home <span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="home">
                 <li>
                  <%= link_to('Home',housewares_index_path)%>
                </li>
              </ul>
            </li> -->

          
      <!-- for the large view -->
        <div class=" hidden-sm hidden-xs ">

        <li data-toggle="collapse" data-target="#appliances">
          <a name="Appliances" title="Appliances">Appliances<span class="arrow"></span></a>
        </li>

        <li data-toggle="collapse" data-target="#babyandkids">
          <a name="Baby, Kids &amp; Toys" title="Baby, Kids &amp; Toys">Baby, Kids & Toys<span class="arrow"></span></a>
        </li>
        
        <li data-toggle="collapse" data-target="#clothingAndHandbags">
          <a name="Clothing &amp; Handbags" title="Clothing &amp; Handbags">Clothing & Handbags<span class="arrow"></span></a>
        </li>
        
        <li data-toggle="collapse" data-target="#computersAndPrinters">
          <a name="Computers &amp; Printers" title="Computers &amp; Printers">Computers & Printers<span class="arrow"></span></a>
        </li>
        
        <li data-toggle="collapse" data-target="#electronics">
          <a name="Electronics" title="Electronics">Electronics<span class="arrow"></span></a>

        </li>
          <!-- <li data-toggle="collapse" data-target="#groceryAndFloral">
              <a name="Grocery, Floral &amp; Pets" title="Grocery, Floral &amp; Pets">Grocery, Floral & Pets<span class="arrow"></span></a>
            </li> -->
            
            <li data-toggle="collapse" data-target="#holidayGiftsAndPets">
              <a name="Holiday, Gifts &amp; Tickets" title="Holiday, Gifts &amp; Tickets">Holiday, Gifts & Tickets<span class="arrow"></span></a>
            </li>
            
           <li class="font-12" data-toggle="collapse" data-target="#homeImprovement">
              <a name="Home Improvement" title="Home Improvement">Home Improvement<span class="arrow"></span></a>
            </li>

         <li class="font-12" data-toggle="collapse" data-target="#healthAndBeauty">
              <a name="Health &amp; Beauty" title="Health &amp; Beauty">Health & Beauty<span class="arrow"></span></a>
            </li>

            <li data-toggle="collapse" data-target="#officeProducts">
            <a name="Office Products" title="Office Products">Office Products<span class="arrow"></span></a>
          </li>
            
            <li data-toggle="collapse" data-target="#homeKitchenBedAndBath">
              <a name="Home, Kitchen, Bed &amp; Bath" title="Home, Kitchen, Bed &amp; Bath">Kitchen, Bed & Bath<span class="arrow"></span></a>
            </li>

    </div>


<!-- this is the medium sized view -->
        <div class="hidden-lg hidden-md hidden-sm">

            <li class="font-12" data-toggle="collapse" data-target="#appliances">
              <a name="Appliances" title="Appliances">Appliances<span class="arrow"></span></a>
            </li>

            <li class="font-12" data-toggle="collapse" data-target="#babyandkids">
              <a name="Baby, Kids &amp; Toys" title="Baby, Kids &amp; Toys">Baby, Kids & Toys<span class="arrow"></span></a>
            </li>
            
            <li class="font-12" data-toggle="collapse" data-target="#clothingAndHandbags">
              <a name="Clothing &amp; Handbags" title="Clothing &amp; Handbags">Clothing & Handbags<span class="arrow"></span></a>
            </li>
            
            <li class="font-12" data-toggle="collapse" data-target="#computersAndPrinters">
              <a name="Computers &amp; Printers" title="Computers &amp; Printers">Computers & Printers<span class="arrow"></span></a>
            </li>
            
            <li class="font-12" data-toggle="collapse" data-target="#electronics">
              <a name="Electronics" title="Electronics">Electronics<span class="arrow"></span></a>
            </li>

            <li data-toggle="collapse" data-target="#holidayGiftsAndPets">
                  <a name="Holiday, Gifts &amp; Tickets" title="Holiday, Gifts &amp; Tickets">Holiday, Gifts & Tickets<span class="arrow"></span></a>
                </li>
                
               <li class="font-12" data-toggle="collapse" data-target="#homeImprovement">
                  <a name="Home Improvement" title="Home Improvement">Home Improvement<span class="arrow"></span></a>
                </li>

            
           
            
          <li class="font-12" data-toggle="collapse" data-target="#healthAndBeauty">
              <a name="Health &amp; Beauty" title="Health &amp; Beauty">Health & Beauty<span class="arrow"></span></a>
            </li>

            <li data-toggle="collapse" data-target="#officeProducts">
            <a name="Office Products" title="Office Products">Office Products<span class="arrow"></span></a>
          </li>
            
            <li data-toggle="collapse" data-target="#homeKitchenBedAndBath">
              <a name="Home, Kitchen, Bed &amp; Bath" title="Home, Kitchen, Bed &amp; Bath">Kitchen, Bed & Bath<span class="arrow"></span></a>
            </li>
            
          
            
           

        </div>
        
        <!-- for the small view -->
        <div class=" hidden-md hidden-lg hidden-xs">
             <li data-toggle="collapse" data-target="#appliances">
              <a name="Appliances" title="Appliances">Appliances<span class="arrow"></span></a>
            </li>

            <li data-toggle="collapse" data-target="#babyandkids">
              <a name="Baby, Kids &amp; Toys" title="Baby, Kids &amp; Toys">Baby, Kids & Toys<span class="arrow"></span></a>
            </li>
            
            <li data-toggle="collapse" data-target="#clothingAndHandbags">
              <a name="Clothing &amp; Handbags" title="Clothing &amp; Handbags">Clothing & Handbags<span class="arrow"></span></a>
            </li>
            
            <li data-toggle="collapse" data-target="#computersAndPrinters">
              <a name="Computers &amp; Printers" title="Computers &amp; Printers">Computers & Printers<span class="arrow"></span></a>
            </li>
            
            <li data-toggle="collapse" data-target="#electronics">
              <a name="Electronics" title="Electronics">Electronics<span class="arrow"></span></a>

            </li>

             <li data-toggle="collapse" data-target="#holidayGiftsAndPets">
                  <a name="Holiday, Gifts &amp; Tickets" title="Holiday, Gifts &amp; Tickets">Holiday, Gifts & Tickets<span class="arrow"></span></a>
                </li>
                
               <li class="font-12" data-toggle="collapse" data-target="#homeImprovement">
                  <a name="Home Improvement" title="Home Improvement">Home Improvement<span class="arrow"></span></a>
                </li>

         
         
        </div>



        
        
       <!--  <li data-toggle="collapse" data-target="#patioAndOutdoor">
          <a name="Patio &amp; Outdoor" title="Patio &amp; Outdoor">Patio & Outdoor<span class="arrow"></span></a>
        </li> -->
        <!--
        <li data-toggle="collapse" data-target="#sportsAndFitness">
          <a name="Sports &amp; Fitness" title="Sports &amp; Fitness">Sports & Fitness<span class="arrow"></span></a>
        </li>
        
        <li data-toggle="collapse" data-target="#travelAndLuggage">
          <a name="Travel &amp; Luggage" title="Travel &amp; Luggage">Travel & Luggage<span class="arrow"></span></a>
        </li>  -->
        
        <li data-toggle="collapse" data-target="#viewMoreCategories">
          <a name="View More Categories" title="View More Categories">View All Categories<span class="arrow"></span></a>
        </li>
        <%= render "partials/mobile_nav_dropdown"%>
       
        <li class="hvr-float">
         <%= render "partials/email_offer_modal_2"%>
        </li>
      


           <!--  <li data-toggle="collapse" data-target="#cleaning"> <a href="#"> Cleaning Tools<span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="cleaning">
                 <li>
                  <%= link_to('Cleaning Tools',housewares_cleaning_tools_path)%>
                </li>
              </ul>
            </li>
            <li data-toggle="collapse" data-target="#chemicals"> <a href="#"> Household Chemicals<span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="chemicals">
                 <li>
                <%= link_to('Household Chemicals',housewares_house_chemicals_path)%>
                </li>
              </ul>
            </li>
            <li data-toggle="collapse" data-target="#cookware"> <a href="#"> Cookware <span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="cookware">
                  <li>
                  <%= link_to('Cookware',housewares_cookware_path)%>
                </li>
              </ul>
            </li>
            <li data-toggle="collapse" data-target="#food"> <a href="#"> Food Containers<span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="food">
                 <li>
                  <%= link_to('Food Containers',housewares_food_containers_path)%>
                </li>
              </ul>
            </li>
            <li data-toggle="collapse" data-target="#laundry"> <a href="#"> Laundry <span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="laundry">
                 <li>
                  <%= link_to('Laundry',housewares_laundry_path)%>
                </li>
              </ul>
            </li>
            <li data-toggle="collapse" data-target="#table_top"> <a href="#"> Tabletop Dining<span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="table_top">
                 <li>
                  <%= link_to('Tabletop Dining', housewares_tabletop_dining_path)%>
                </li>
              </ul>
            </li>
            <li data-toggle="collapse" data-target="#lics"> <a href="#"> Licensed Housewares<span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="lics">
                 <li>
                  <%= link_to('Licensed Housewares',housewares_licensed_housewares_path)%>
                  </li>
              </ul>
            </li> -->

               
       
            
          </ul>
        </div>
      </div>
       <!-- <ul class="list-unstyled images-3 hidden-sm hidden-xs">
        <li><img src="../assets/images/free.jpg" alt="" class="img-responsive"></li>
        <li><img src="../assets/images/off.jpg" alt="" class="img-responsive"></li>
      </ul> -->
    </div>
<script src="../assets/js/jquery-v11.js"></script> 

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="../assets/js/bootstrap.min.js"></script> 

<!-- Main Scripts--> 

<script src="../assets/js/search.js"></script> 
<script src="../assets/js/ttmenu.js"></script> 

<script src="../assets/js/custom.js"></script> 
<script>

cdtd();</script><!--animations--> 
<script src="../assets/js/wow.min.js"></script> 
<script>
 new WOW().init();
 new WOW.sync();
</script>