<div class="below-header ">
    <div class="container wow bounceInLeft" data-wow-duration="2s">
      <div class="">
        <div class="hero">
          <div class="clickablemenu ttmenu dark-style menu-red-gradient">
            <div class="navbar navbar-default" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand hidden-md hidden-lg visible-sm visible-xs" href="#"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_fit,h_52,q_100,w_163/v1445329244/logo-no-line_lyte5g.png" alt=""></a> </div>
              <!-- end navbar-header -->
              
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="dropdown ttmenu-full"><a href="/index" data-toggle="dropdown" class="dropdown-toggle">Home <b class="dropme"></b></a>
                    <ul id="first-menu" class="dropdown-menu">
                      <li>
                        <div class="ttmenu-content">
                          <div class="tabbable row">
                            <div class="col-md-3">
                              <ul class="nav nav-pills nav-stacked">
                                <li><%= link_to('Go HOME', housewares_index_path)%></li>
                                <li><a href="#tabs5-pane2" data-toggle="tab">Future Thumbnail Elements</a></li>
                                <li><a href="#tabs5-pane3" data-toggle="tab">Carousel Slider option aswell</a></li>
                              </ul>
                            </div>
                            <!-- end col -->
                            <div class="col-md-9">
                              <div class="tab-content">
                                <div id="tabs5-pane1" class="tab-pane active">
                                  <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                      <div class="box">
                                        <!-- <ul>
                                          <li>
                                            <h4>FONT ICON SUPPORT</h4>
                                          </li>
                                          <li><a href="#">Web Design <span class="fa fa-laptop"></span></a></li>
                                          <li><a href="#">Web Development <span class="fa fa-gears"></span></a></li>
                                          <li><a href="#">Graphic Design <span class="fa fa-leaf"></span></a></li>
                                          <li><a href="#">IOS & ANDROID <span class="fa fa-android"></span></a></li>
                                          <li><a href="#">Logo Design <span class="fa fa-pencil"></span></a></li>
                                          <li><a href="#">Mockup Design <span class="fa fa-maxcdn"></span></a></li>
                                          <li><a href="#">e-Commerce <span class="fa fa-shopping-cart"></span></a></li>
                                          <li><a href="#">Digital Marketing <span class="fa fa-desktop"></span></a></li>
                                          <li><a href="#">SEO Services <span class="fa fa-area-chart"></span></a></li>
                                        </ul> -->
                                      </div>
                                      <!-- end box --> 
                                    </div>
                                    <!-- end col -->
                                    
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                      <div class="box">
                                        <!-- <ul>
                                          <li>
                                            <h4>WHY CHOOSE TT MENU</h4>
                                          </li>
                                          <li><a href="#">Responsive Layout</a></li>
                                          <li><a href="#">Retina Display Ready</a></li>
                                          <li><a href="#">Tons of Icons</a></li>
                                          <li><a href="#">Gradient Colors</a></li>
                                          <li><a href="#">Beginner Friendly</a></li>
                                          <li><a href="#">Detailed Documentation</a></li>
                                          <li><a href="#">100% Bootstrap Base</a></li>
                                          <li><a href="#">HTML5 CSS3</a></li>
                                          <li><a href="#">And Much More...</a></li>
                                        </ul> -->
                                      </div>
                                      <!-- end box --> 
                                    </div>
                                    <!-- end col -->
                                   <!--  <div class="col-md-4 col-sm-6 col-xs-12"> <img src="../assets/images/darkmenubg.png" alt="" class="img-responsive"> </div> -->
                                    <!-- end col --> 
                                  </div>
                                  <!-- end row --> 
                                </div>
                                <div id="tabs5-pane2" class="tab-pane">
                                  <div class="row">
                                    <div class="col-md-4 menu-image">
                                      <div class="widget clearfix"> <a href="#">
                                        <div class="entry"> <img src="../assets/images/menu_mini_01.png" alt="" class="img-responsive"> <span class="magnifier"></span> </div>
                                        <!-- enntry --> 
                                        </a> </div>
                                      <!-- end widget --> 
                                    </div>
                                    <!-- end col -->
                                    <div class="col-md-4 menu-image">
                                      <div class="widget clearfix"> <a href="#">
                                        <div class="entry"> <img src="../assets/images/menu_mini_02.png" alt="" class="img-responsive"> <span class="magnifier"></span> </div>
                                        <!-- enntry --> 
                                        </a> </div>
                                      <!-- end widget --> 
                                    </div>
                                    <!-- end col -->
                                    <div class="col-md-4 menu-image">
                                      <div class="widget clearfix"> <a href="#">
                                        <div class="entry"> <img src="../assets/images/menu_mini_03.png" alt="" class="img-responsive"> <span class="magnifier"></span> </div>
                                        <!-- enntry --> 
                                        </a> </div>
                                      <!-- end widget --> 
                                    </div>
                                    <!-- end col -->
                                    <div class="col-md-4">
                                      <div class="widget clearfix"> <a href="#">
                                        <div class="entry"> <img src="../assets/images/menu_mini_04.png" alt="" class="img-responsive"> <span class="magnifier"></span> </div>
                                        <!-- enntry --> 
                                        </a> </div>
                                      <!-- end widget --> 
                                    </div>
                                    <!-- end col -->
                                    <div class="col-md-4">
                                      <div class="widget clearfix"> <a href="#">
                                        <div class="entry"> <img src="../assets/images/menu_mini_05.png" alt="" class="img-responsive"> <span class="magnifier"></span> </div>
                                        <!-- enntry --> 
                                        </a> </div>
                                      <!-- end widget --> 
                                    </div>
                                    <!-- end col -->
                                    <div class="col-md-4">
                                      <div class="widget clearfix"> <a href="#">
                                        <div class="entry"> <img src="../assets/images/menu_mini_06.png" alt="" class="img-responsive"> <span class="magnifier"></span> </div>
                                        <!-- enntry --> 
                                        </a> </div>
                                      <!-- end widget --> 
                                    </div>
                                    <!-- end col --> 
                                  </div>
                                  <!-- end row --> 
                                </div>
                                <div id="tabs5-pane3" class="tab-pane">
                                  <div class="row spring">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      <div class="box">
                                        <h4>ABOUT OUR COMPANY</h4>
                                        <p>Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham de  Bonorum " are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                        <p>Finibus Bonorum et Malorum" are also form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                        <button class="btn btn-primary small">Read more</button>
                                      </div>
                                      <!-- end box --> 
                                    </div>
                                    <!-- end col -->
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                          <div class="item active"> <a href="single-project.html"><img src="../assets/images/menu_01.png" class="img-responsive" alt=""></a> </div>
                                          <!-- End Item -->
                                          <div class="item"> <a href="single-project.html"><img src="../assets/images/menu_02.png" class="img-responsive" alt=""></a> </div>
                                          <!-- End Item --> 
                                        </div>
                                        <!-- End Carousel Inner --> 
                                      </div>
                                      <!-- /.carousel --> 
                                    </div>
                                    <!-- end col --> 
                                  </div>
                                  <!-- end row --> 
                                </div>
                              </div>
                              <!-- /.tab-content --> 
                            </div>
                            <!-- end col --> 
                          </div>
                          <!-- /.tabbable --> 
                        </div>
                        <!-- end ttmenu-content --> 
                      </li>
                    </ul>
                  </li>
                  <!-- end mega menu -->
                  <li class="dropdown ttmenu-full"><a href="home-2.html" data-toggle="dropdown" class="dropdown-toggle">shop</a> </li>
                  <!-- end mega menu -->
                  <!-- <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">blog</a> </li> -->
                  <!-- <li class="dropdown ttmenu-full"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Portfolio</a> </li> -->
                  <!-- <li class="dropdown ttmenu-full"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Shortcodes </a></li> -->
                  
                  <!-- end mega menu -->
                  <li class="dropdown ttmenu-full"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Contact <b class="dropme"></b></a>
                    <ul class="dropdown-menu">
                      <li>
                        <div class="ttmenu-content">
                          <div class="row">
                            <div class="col-md-3">
                              <div class="box">
                                <ul>
                                  <li>
                                    <h4>CONTACT DETAILS</h4>
                                  </li>
                                  <li><a href="#">support@inwholesale.com <span class="fa fa-envelope-o"></span></a></li>
                                  <li><a href="#">www.inwholesale.com <span class="fa fa-link"></span></a></li>
                                  <li><a href="#">(0) +911 333 44 55 <span class="fa fa-phone"></span></a></li>
                                  <li><a href="#">(0) +911 333 44 80 <span class="fa fa-fax"></span></a></li>
                                  <li><a href="#">Vernon<br>
                                    California, USA</a></li>
                                </ul>
                              </div>
                              <!-- end box --> 
                            </div>
                            <!-- end col -->
                            <div class="col-md-6">
                              <div class="row">
                                <div class="box"> <br>
                                  <form id="contact" action="#" class="row" name="contactform" method="post">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                      <input type="text" name="name" id="name2" class="form-control" placeholder="Name">
                                      <input type="text" name="email" id="email2" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                      <input type="text" name="phone" id="phone2" class="form-control" placeholder="Phone">
                                      <input type="text" name="subject" id="subject2" class="form-control" placeholder="Subject">
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <textarea class="form-control" name="comments" id="comments2" rows="6" placeholder="Your Message ..."></textarea>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <div class="pull-left">
                                        <input type="submit" value="SEND" id="submit2" class="btn btn-primary small">
                                      </div>
                                    </div>
                                  </form>
                                </div>
                                <!-- end box --> 
                              </div>
                              <!-- end row --> 
                            </div>
                            <!-- end col -->
                            <div class="col-md-3">
                              <div class="box">
                                <ul>
                                  <li>
                                    <h4>OTHER NOTES</h4>
                                  </li>
                                  <li>
                                    <p>Finibus Bonorum et Malorum" are also form, accompanied by English versions from the  accompanied by English versions from theaccompanied by English versions from the 1914 translation by H. Rackham.</p>
                                  </li>
                                </ul>
                              </div>
                              <!-- end box --> 
                            </div>
                            <!-- end col --> 
                          </div>
                          <!-- end row --> 
                        </div>
                        <!-- end ttmenu content --> 
                      </li>
                    </ul>
                  </li>
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                <li class="dropdown ttmenu-full"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Pages <b class="dropme"></b></a>
                    <ul class="dropdown-menu">
                      <li>
                        <div class="ttmenu-content">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="box">
                                <ul>
                                <li>
                                  <%= link_to('Home',housewares_index_path)%>
                                </li>
                                <li>
                                  <%= link_to('Cookware',housewares_cookware_path)%>
                                </li>

                                <li>
                                  <%= link_to('Food Containers',housewares_food_containers_path)%>
                                </li>
                                </ul>
                              </div>
                              <!-- end box --> 
                            </div>
                            <!-- end col -->
                            <div class="col-md-4">
                              <div class="box">
                                <ul>
                                 
                                <li>
                                  <%= link_to('Laundry',housewares_laundry_path)%>
                                </li>

                                <li>
                                  <%= link_to('Tabletop Dining',housewares_tabletop_dining_path)%>
                                </li>

                                <li>
                                  <%= link_to('Cleaning Tools',housewares_cleaning_tools_path)%>
                                </li>
                                
                                  
                                </ul>
                              </div>
                              <!-- end box --> 
                            </div>
                            <!-- end col -->
                            <div class="col-md-4">
                              <div class="box">
                                <ul>
                                  <li>
                                <%= link_to('Household Chemicals',housewares_house_chemicals_path)%>
                                </li>

                                <li><%= link_to('Licensed Housewares',housewares_licensed_housewares_path)%></li>
                                   
                                  
                                </ul>
                              </div>
                              <!-- end box --> 
                            </div>
                            <!-- end col -->
                            
                            <!-- end col --> 
                          </div>
                          <!-- end row --> 
                        </div>
                        <!-- end ttmenu-content --> 
                      </li>
                    </ul>
                  </li> 



<!--- START OF NAV SEARCH BAR-->
                  <div class="col-md-6 col-sm-7 col-xs-12">
                    <div class="header-search">
                      <form class="form-inline">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <select>
                                <option>Category&nbsp;</option>
                                <option>Come</option>
                                <option>ing</option>
                                <option>Soon</option>
                              </select>
                            </div>
                            <input type="text" class="form-control item-header" placeholder="Search Your item here...">
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>


<div class="container">
  
  

    <ul class="breadcrumb">

        <li><a href="#">Basket & Storage</a></li>

       
        <li class="active">Grid</li>

    </ul>


</div>

<div class="container">
  <div class="">
    <div class="row"> 

     <img src="../assets/images/carousel-img.png" alt="" class="img-responsive">

    </div>
  </div>
</div>

<div class="container grid-main">

  <div class="row">
    
    
    <div class="col-md-9 grid-right  col-md-push-3 wow bounceInUp" data-wow-duration="2s">
    
    <div class="row">
       
      
      
      <div class="clearfix grid-sorting col-md-4 col-sm-4 col-xs-12" >
        <div class="">
          <div class="pull-left">
            <p class="mar-top-7"> View As: &nbsp;</p>
          </div>
          <div class="pull-left pull-right-xs"> <img src="../assets/images/grid.png" alt=""> </div>
        </div>
      </div>
      <div class="clearfix grid-sorting col-md-4 col-sm-4 col-xs-12">
        <div class="">
          <div class="pull-right ">
            <select class="grid-controll">
              <option>Sort By:</option>
              <option>Price</option>
              <option>Date</option>
              <option>Type</option>
              <option>Ratings</option>
            </select>
          </div>
          <div class="pull-left">
            <p class="mar-top-7"> Sort by</p>
          </div>
        </div>
      </div>
      <div class="clearfix grid-sorting col-md-4 col-sm-4 col-xs-12">
        <div class="">
          <div class="pull-right pull-left-xs">
            <ul class="list-unstyled list-inline pages">
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div> 
      
      
      
      
      
      
      </div>
      <div class="row">
        <ul class="list-unstyled grid-items clearfix">


          <% if @entriesArray.count > 0 %>
          <% @entriesArray.each do |entry| %>
                <li class="col-md-4 col-sm-4 wow bounceInUp" data-wow-duration="2s">
                  <div class="img-about">
                    <div class="hot-icon"></div>
                    <%= link_to image_tag(entry.image, class: 'img-responsive'), entry.link %>
                    
                    <div class="desc text-center">
                      <p class="font-15 mar-bot-0"><%= entry.title[0..26] %> &hellip;</p>
                      <p class="font-1 font-bold mar-bot-0"><%= entry.id %></p>
                      <img src="../assets/images/star-rating.png" alt="" class="mar-bot-1">
                      <p class="font-1 mar-bot-0"><%= entry.pack %></p>
                      <p class="font-1 font-bold mar-bot-0"><%= entry.reg_price%></p>
                      <p class="font-17 orange font-bold"><%= entry.sale_price%></p>
                      <!-- <a class="cart" href="#">add to cart</a> -->
                      <%= link_to("add to cart", entry.link, class: 'cart')%>
                    </div>
                  </div>
                </li>
            <% end %>   
          <% else %>
              <h2>No Posts Exist</h2>
          <% end %>
  
        </ul>
        <br>



       <div class="clearfix grid-sorting col-md-4 col-sm-4 col-xs-12" >
        <div class="">
          <div class="pull-left">
            <p class="mar-top-7"> View As: &nbsp;</p>
          </div>
          <div class="pull-left pull-right-xs"> <img src="../assets/images/grid.png" alt=""> </div>
        </div>
      </div>
      <div class="clearfix grid-sorting col-md-4 col-sm-4 col-xs-12">
        <div class="">
          <div class="pull-right ">
            <select class="grid-controll">
              <option>Default Sorting</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="pull-left">
            <p class="mar-top-7"> Sort by</p>
          </div>
        </div>
      </div>
      <div class="clearfix grid-sorting col-md-4 col-sm-4 col-xs-12">
        <div class="">
          <div class="pull-right pull-left-xs">
            <ul class="list-unstyled list-inline pages">
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      </div>
    </div>
    <div class="col-md-3 grid-left  col-md-pull-9 wow bounceInUp" data-wow-duration="2s">
      <p class="font-20 text-uppercase font-bold line-long">CATEGORY</p>
      
      

      <div id="vertical-menu">
        <ul class="simple">
          <!-- <li >
            <h3><span class="plus pull-right">+</span>Storage & Baskets</h3>
            <ul>
              <li><%= link_to( 'View All Items',housewares_baskets_storage_racks_path)%></li>
            </ul>
          </li> -->
          <!-- we will keep this LI open by default -->
          <li >
            <h3><span class="plus pull-right">+</span>Cookware</h3>
            <ul>
              <li><%= link_to( 'View All Items',housewares_cookware_path)%></li>
            </ul>
          </li>
         <li >
            <h3><span class="plus pull-right">+</span>Food Containers</h3>
            <ul>
              <li><%= link_to( 'View All Items',housewares_food_containers_path)%></li>
            </ul>
          </li>
          <li >
            <h3><span class="plus pull-right">+</span>Laundry</h3>
            <ul>
              <li><%= link_to( 'View All Items',housewares_laundry_path)%></li>
            </ul>
          </li>
          <li >
            <h3><span class="plus pull-right">+</span>Tabletop Dining</h3>
            <ul>
              <li><%= link_to( 'View All Items',housewares_tabletop_dining_path)%></li>
            </ul>
          </li>
          <li >
            <h3><span class="plus pull-right">+</span>Cleaning Tools</h3>
            <ul>
              <li><%= link_to( 'View All Items',housewares_cleaning_tools_path)%></li>
            </ul>
          </li>
          <li>
            <h3><span class="plus pull-right">+</span>House Chemicals</h3>
            <ul>
              <li><%= link_to( 'View All Items',housewares_house_chemicals_path)%></li>
            </ul>
          </li>
          <li>
            <h3><span class="plus pull-right">+</span>Licensed Housewares</h3>
            <ul>
              <li><%= link_to( 'View All Items',housewares_licensed_housewares_path)%></li>
            </ul>
          </li>
          
        </ul>
      </div>
      <p class="font-20 text-uppercase font-bold line-long">shop by</p>
      <p class="font-18 text-uppercase font-bold orange">MANUFACTURE</p>
      <ul class="list-unstyled simple">
        <li><a href="#">Dollar-Tree <span class="pull-right">(20)</span></a></li>
        <li><a href="#">Bazaar<span class="pull-right">(20)</span></a></li>
        <li><a href="#">4 Seasons<span class="pull-right">(16)</span></a></li>
        <li><a href="#">USA supplier<span class="pull-right">(26)</span></a></li>
        <li><a href="#">Other Manufacture<span class="pull-right">(17)</span></a></li>
      </ul>
      <p class="font-18 text-uppercase font-bold orange">price</p>
      <input type="range">
      <br>
      <!-- <p class="font-18 text-uppercase font-bold orange">color</p>
      <ul class="list-unstyled simple">
        <li><a href="#">White <span class="pull-right">(20)</span></a></li>
        <li><a href="#">Red<span class="pull-right">(20)</span></a></li>
        <li><a href="#">Black<span class="pull-right">(16)</span></a></li>
        <li><a href="#">Blue<span class="pull-right">(26)</span></a></li>
      </ul> -->
      <!-- <p class="font-18 text-uppercase font-bold orange">size</p>
      <ul class="list-unstyled simple">
        <li><a href="#"> X - Small <span class="pull-right">(20)</span></a></li>
        <li><a href="#">Small<span class="pull-right">(20)</span></a></li>
        <li><a href="#">Medium<span class="pull-right">(16)</span></a></li>
        <li><a href="#">Large<span class="pull-right">(26)</span></a></li>
      </ul> -->
      <p class="font-20 text-uppercase font-bold line-long">TAGS</p>
      <ul class="list-unstyled tags">
        <li><a href="#">Detergent</a></li>
        <li><a href="#">Food</a></li>
        <li><a href="#">Hair</a></li>
        <li><a href="#">Baby</a></li>
        <li class="active"><a href="#">Gift</a></li>
        <li><a href="#">Office</a></li>
        <li><a href="#">Dollar Item</a></li>
        <li><a href="#">USA</a></li>
        <li><a href="#">Wholesale</a></li>
        <li><a href="#">Cleaning</a></li>
      </ul>
      <div class="clearfix"></div>
      <br>
      <p class="font-20 text-uppercase font-bold line-long">COMPARE</p>
      <p>You have no item to compare</p>
      <br>
      <!-- <img src="http://res.cloudinary.com/mckshreder/image/upload/c_scale,q_100,w_270/v1445322672/Live-Chat-Support_edd6wu.jpg" alt="" class="img-responsive"> --> </div>
  </div>
</div><div class="banner hidden-xs hidden-sm"> <img src="../assets/images/banner-long.jpg" alt="" class="img-responsive"></div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="../assets/js/jquery-v11.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="../assets/js/bootstrap.min.js"></script> 
<script>
    </script> 
<script>$("#vertical-menu h3").click(function () {
    //slide up all the link lists
    $("#vertical-menu ul ul").slideUp();
    $('.plus',this).html('+');
    //slide down the link list below the h3 clicked - only if its closed
    if (!$(this).next().is(":visible")) {
        $(this).next().slideDown();
        //$(this).remove("span").append('<span class="minus">-</span>');
        $('.plus').html('+');
        $('.plus',this).html('-');
    }
})</script> 

<!-- Main Scripts--> 

<script src="../assets/js/search.js"></script> 
<script src="../assets/js/ttmenu.js"></script> 
<script src="../assets/js/wow.min.js"></script> 
<script>
 new WOW().init();
</script>