<div class="container mega-main clearfix">
  <div class="row">
    <div class="col-md-9 col-md-push-3 col-sm-push-4 col-sm-8 wow bounceInLeft" data-wow-duration="2s">
      <br>
      <div data-example-id="simple-carousel" class="below-headeer hidden-xs">
        <div data-ride="carousel" class="carousel slide" id="carousel-example-generic">
          <ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#carousel-example-generic"></li>
            <li data-slide-to="1" data-target="#carousel-example-generic"></li>
            <li data-slide-to="2" data-target="#carousel-example-generic"></li>
          </ol>
          <div role="listbox" class="carousel-inner">
            <div class="item active"> <img src="../assets/images/home-3-slider.jpg" alt="" class="img-responsive"> </div>
            <div class="item"> <img src="../assets/images/home-3-slider1.jpg" alt="" class="img-responsive"> </div>
            <div class="item"> <img src="../assets/images/home-3-slider2.jpg" alt="" class="img-responsive"> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-md-pull-9 col-sm-pull-8 col-xs-pull-0 wow bounceInRight" data-wow-duration="2s">
      <div class="nav-side-menu">
        <div class="category"><a href="#"><img src="../assets/images/category.jpg" alt="" class="img-responsive"></a></div>
        <div class="menu-list">
          <ul id="menu-content" class="menu-content collapse out">
            <!-- <li data-toggle="collapse" data-target="#home"> <a href="#"> Home <span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="home">
                 <li>
                  <%= link_to('Home',housewares_index_path)%>
                </li>
              </ul>
            </li> -->
            <li data-toggle="collapse" data-target="#cleaning"> <a href="#"> Cleaning Tools<span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="cleaning">
                 <li>
                  <%= link_to('Cleaning Tools',housewares_cleaning_tools_path)%>
                </li>
              </ul>
            </li>
            <li data-toggle="collapse" data-target="#chemicals"> <a href="#"> Household Chemicals<span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="chemicals">
                 <li>
                <%= link_to('Household Chemicals',housewares_house_chemicals_path)%>
                </li>
              </ul>
            </li>
            <li data-toggle="collapse" data-target="#cookware"> <a href="#"> Cookware <span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="cookware">
                  <li>
                  <%= link_to('Cookware',housewares_cookware_path)%>
                </li>
              </ul>
            </li>
            <li data-toggle="collapse" data-target="#food"> <a href="#"> Food Containers<span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="food">
                 <li>
                  <%= link_to('Food Containers',housewares_food_containers_path)%>
                </li>
              </ul>
            </li>
            <li data-toggle="collapse" data-target="#laundry"> <a href="#"> Laundry <span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="laundry">
                 <li>
                  <%= link_to('Laundry',housewares_laundry_path)%>
                </li>
              </ul>
            </li>
            <li data-toggle="collapse" data-target="#table_top"> <a href="#"> Tabletop Dining<span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="table_top">
                 <li>
                  <%= link_to('Tabletop Dining', housewares_tabletop_dining_path)%>
                </li>
              </ul>
            </li>
            <li data-toggle="collapse" data-target="#lics"> <a href="#"> Licensed Housewares<span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="lics">
                 <li>
                  <%= link_to('Licensed Housewares',housewares_licensed_housewares_path)%>
                  </li>
              </ul>
            </li>

               
       
            
          </ul>
        </div>
      </div>
       <ul class="list-unstyled images-3 hidden-sm hidden-xs">
        <!-- <li><img src="../assets/images/free.jpg" alt="" class="img-responsive"></li> -->
        <li><img src="../assets/images/off.jpg" alt="" class="img-responsive"></li>
      </ul>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container">
  <div class="timer-sec">
    <div class="row">
      <div class="col-md-3 col-sm-12 wow bounceInLeft" data-wow-duration="2s">
        <div class="row">
          <div class="col-xs-12">
            <div class="feature">
              <p class="font-18 text-uppercase deals"><span class="font-bold">Supper</span> deals</p>
            </div>
          </div>
        </div>
        <div class="pro-item">
          <div class="counter-timer">
            <ul class="list-unstyled">
              <li>
                <div id="daysBox" class="font-bold font-16">15</div>
                Days </li>
              <li>
                <div id="hoursBox" class="font-bold font-16">8</div>
                Hours </li>
              <li>
                <div id="minsBox" class="font-bold font-16">0</div>
                Minutes </li>
              <li>
                <div id="secsBox" class="font-bold font-16">35</div>
                Seconds </li>
            </ul>
          </div>
          <div class=""> <img src="../assets/images/b-14.jpg" alt="" class="img-responsive" ><br>
            <br>
            <p class="font-15">Solo Bag In Natural</p>
            <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="row">
              <div class="col-xs-12">
                <div class="feature">
                  <p class="font-18 text-uppercase deals"><span class="font-bold">Recent</span> post</p>
                </div>
              </div>
            </div>
            <div class="pro-item post">
              <div class="">
                <p class="text-uppercase font-bold">The Maker Dress</p>
                <p class="font-13">Vivamus venenatis porta purus sit am et feugiat nulla  [ <span class="pink">read more</span> ]</p>
                <br>
                <div class="line"></div>
                <p class="text-uppercase font-bold">The Maker Dress</p>
                <p class="font-13">Vivamus venenatis porta purus sit am et feugiat nulla  [ <span class="pink">read more</span> ]</p>
                <br>
                <div class="line"></div>
                <p class="text-uppercase font-bold">The Maker Dress</p>
                <p class="font-13">Vivamus venenatis porta purus sit am et feugiat nulla  [ <span class="pink">read more</span> ]</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row hidden-sm hidden-xs">
          <div class="col-md-12 col-sm-1 last-item"><img class="img-responsive" alt="" src="../assets/images/b-5.jpg"></div>
        </div>
      </div>
      <div class="col-md-9 col-sm-12 wow bounceInUp" data-wow-duration="2s">
        <div class="row">
          <div class="col-xs-12">
            <div class="feature clearfix">
              <p class="font-18 text-uppercase deals pull-left"><span class="font-bold">FEATURE</span> products</p>
              <ul role="tablist" class="tab-links pull-right list-inline" id="myTab">
                <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#home">Women<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class=""><a aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="#profile" aria-expanded="false"> Men<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class=""><a aria-controls="kidss" data-toggle="tab" id="kidss-tab" role="tab" href="#kidss" aria-expanded="false"> kids<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class=""><a aria-controls="access" data-toggle="tab" id="access-tab" role="tab" href="#access" aria-expanded="false"> Accessories </a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="bs-example bs-example-tabs mar-bot-10" role="tabpanel" data-example-id="togglable-tabs">
          <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-1.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-13.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-12.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-3.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-15.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-16.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-17.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-18.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="kidss" aria-labelledby="kidss-tab">
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-26.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-25.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-24.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-23.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="access" aria-labelledby="access-tab">
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-19.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-20.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-21.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-22.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="wow bounceInRight" data-wow-duration="4s">
          <div class="col-md-8 col-sm-8">
            <div class="row"> <img style="max-height:324px;" class="img-responsive hvr-float" alt="" src="../assets/images/b-4.jpg"></div>
          </div>
          <div class="col-md-4 col-sm-4 spring">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="row">
                  <ul class="list-unstyled man-li">
                    <li><img class="img-responsive hvr-float" alt="" src="../assets/images/b-7.jpg"></li>
                    <li><img class="img-responsive hvr-float" alt="" src="../assets/images/b-9.jpg"></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row tabs-sec">
          <div class="col-xs-12 clearfix">
            <div class="feature clearfix wow bounceInLeft" data-wow-duration="2s">
              <p class="font-18 text-uppercase deals pull-left"><span class="font-bold">LATEST</span> products</p>
              <ul id="myTab-2" class="tab-links pull-right list-inline" role="tablist">
                <li role="presentation" class="active"><a href="#home-2" id="home-tabb" role="tab" data-toggle="tab" aria-controls="home-2" aria-expanded="true">Women<span class="slash-spacing">/</span></a></li>
                <li class="" role="presentation"><a aria-expanded="false" href="#profile-2" role="tab" id="prfile-tab" data-toggle="tab" aria-controls="profile-2"> Men<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class="active"><a href="#kids-2" id="kids-tab" role="tab" data-toggle="tab" aria-controls="kids-2" aria-expanded="true"> kids<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class="active"><a href="#acc-2" id="acc-tab" role="tab" data-toggle="tab" aria-controls="acc" aria-expanded="true"> Accessories</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
          <div id="myTabContent-2" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="home-2" aria-labelledby="home-tabb">
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-31.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-32.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-33.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-34.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="profile-2" aria-labelledby="profile-tab">
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-35.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-36.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-37.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-38.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="kids-2" aria-labelledby="kids-tab">
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-27.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-28.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-29.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-30.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="acc-2" aria-labelledby="acc-tab">
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-39.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-40.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-41.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-22.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="../assets/js/jquery-v11.js"></script> 

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="../assets/js/bootstrap.min.js"></script> 

<!-- Main Scripts--> 

<script src="../assets/js/search.js"></script> 
<script src="../assets/js/ttmenu.js"></script> 

<script src="../assets/js/custom.js"></script> 
<script>

cdtd();</script><!--animations--> 
<script src="../assets/js/wow.min.js"></script> 
<script>
 new WOW().init();
</script>