<div class="container mega-main clearfix">
  <div class="row">
    <div class="col-md-9 col-md-push-3 col-sm-push-4 col-sm-8 col-xs-12 wow bounceInLeft" data-wow-duration="2s">





      <div class="row tabs-sec hidden-xs">
          <div class="col-xs-12 clearfix">
            <div class="feature clearfix wow bounceInLeft" data-wow-duration="2s">
              <!-- <p class="font-18 text-uppercase deals pull-left"><span class="font-bold">Sign up  with your email to get</span> updates!</p> -->
              <!-- <ul id="myTab-2" class="tab-links pull-right list-inline" role="tablist">
                <li role="presentation" class="active"><a href="#home-2" id="home-tabb" role="tab" data-toggle="tab" aria-controls="home-2" aria-expanded="true">Home<span class="slash-spacing">/</span></a></li>
                <li class="" role="presentation"><a aria-expanded="false" href="#profile-2" role="tab" id="prfile-tab" data-toggle="tab" aria-controls="profile-2"> Kitchen<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class="active"><a href="#kids-2" id="kids-tab" role="tab" data-toggle="tab" aria-controls="kids-2" aria-expanded="true"> Office<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class="active"><a href="#acc-2" id="acc-tab" role="tab" data-toggle="tab" aria-controls="acc" aria-expanded="true"> Accessories</a></li>
              </ul> -->
              <!--  <ul class="list-unstyled list-inline pull-right">
                
                <div class="input-group search">
                  <input type="text" placeholder="SEARCH OUR INVENTORY" class="form-control">
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-default item-tag">Search</button>
                  </span> 
                </div>
              </ul> -->

      <!-- <ul class="list-unstyled list-inline hidden-sm hidden-xs mar-0">
        <li class="mar-left-30 pad-right-0"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_limit,h_45,o_75,q_100,w_275/v1445588545/Free_Shipping_-logo_11_cjrew5.png" alt="" class="img-responsive"></li>
        <li class="mar-left-30 pad-right-0"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_limit,h_45,o_75,q_100,w_275/v1445588299/No_Minimum_Order-logo_q36bfo.png" alt="" class="img-responsive"></li>
        <li class="mar-left-30 pad-right-0"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_limit,h_45,o_75,q_100,w_275/v1445588138/Order_Bulk_Save-logo_2_y9mdhx.png" alt="" class="img-responsive"></li>
      </ul> -->
            <!-- <div class="feature"> -->
              <p class="font-18 text-uppercase deals"><span class="font-bold">Stock up on all your favorite products</span>&nbsp;&nbsp;<span class="pull-right">D<span class="text-lowercase">elivered to your door for<span class="font-bold text-uppercase"> free!</span></span></span></p>

              <!-- <p class="font-13 text-uppercase text-center deals hidden-lg hidden-md hidden-sm col-xs-12"><span class="font-bold">All your favorite products!</span><br><span class="">D<span class="text-lowercase">elivered to your door for<span class="font-bold text-uppercase"> free!</span></span></span></p> -->


            
             <!--  <p class="font-18 text-uppercase deals"><span class="font-bold">amazing discounts and great margins</span>&nbsp;<span class="text-lowercase">on your most trusted brands and licenses.</p> -->
            <!-- </div> -->


            </div>
          </div>
        </div>

         
     


      <div data-example-id="simple-carousel" class=" pad-top-0 below-header">
      <!-- <img src="http://res.cloudinary.com/mckshreder/image/upload/c_crop,h_50,q_100,w_880/v1445749925/inWholsalers/in-wholesaler-slider-header1.png" class="img-responsive mar-top-0"> -->
        <!-- cellphone header views below in p tag -->
        <p class="font-14 text-uppercase text-center deals hidden-lg hidden-md hidden-sm col-xs-12">

          <span class="font-bold">All of your favorite products</span><br><span class="">D<span class="text-lowercase">elivered to your door for<span class="font-bold text-uppercase pink"> free!</span></span></span>
          
        </p>


        <!-- this is the largest carosuel -->
        <div data-ride="carousel" class="carousel slide" id="carousel-example-generic">
          
          <ol class="carousel-indicators hidden-xs">
            <li class="active" data-slide-to="0" data-target="#carousel-example-generic"></li>
            <li data-slide-to="1" data-target="#carousel-example-generic"></li>
            <li data-slide-to="2" data-target="#carousel-example-generic"></li>
          </ol>
          
          <div role="listbox" class="carousel-inner">
            <div class="item active"> <img src="http://res.cloudinary.com/mckshreder/image/upload/c_scale,h_487,q_100,w_880/v1445582946/wholsesale-box-final-logo_l96d4j.png" alt="" class="img-responsive"> </div>
            <div class="item"> <img src="http://res.cloudinary.com/mckshreder/image/upload/c_fill,e_brightness:2,h_487,q_100,w_880/v1445593325/inWholsalers/52-8008_CoreCrayonsClasspackProduct800ct_g2c.jpg" alt="" class="img-responsive"> </div>
            <div class="item"> <img src="http://res.cloudinary.com/mckshreder/image/upload/c_fill,g_north_west,h_487,q_100,w_880/v1445593636/inWholsalers/titleist-prov1-golf-product-oakland-photographer-logo-1004-1024x682-1024x682.jpg" alt="" class="img-responsive"> </div>
          </div>

        </div>




      </div>


      <div data-example-id="simple-carousel" class="hidden-xs">
       <p class="font-18 text-uppercase deals"><span class="font-bold">amazing discounts and great margins storewide</span>&nbsp;<a class="pull-right pink">S<span class="text-lowercase">hop by brand and license</span></a></p>
        


        <div data-ride="carousel" class="carousel slide mar-left-5" id="carousel-example-generic">
          <div role="listbox" class="carousel-inner">
            <div class="item active"> <img src="http://res.cloudinary.com/mckshreder/image/upload/c_crop,h_90,q_100,w_911,x_352,y_720/v1445908649/inWholsalers/Nick4SMGprotophoto.png" alt="" class="img-responsive mar-0"> </div>
            <div class="item"> <img src="http://res.cloudinary.com/mckshreder/image/upload/c_crop,h_90,q_100,w_911,x_352,y_720/v1445908649/inWholsalers/Nick4SMGprotophoto.png" alt="" class="img-responsive mar-0"> </div>
            <div class="item"> <img src="http://res.cloudinary.com/mckshreder/image/upload/c_crop,h_90,q_100,w_911,x_352,y_720/v1445908649/inWholsalers/Nick4SMGprotophoto.png" alt="" class="img-responsive mar-0"> </div>
          </div>
        </div>

        
      </div>




<!-- the start of the cell carousel -->
      <div data-example-id="simple-carousel" class="below-headeer hidden-lg hidden-md hidden-sm col-xs-12 pad-0">
         <p class="font-14 text-uppercase deals text-center"><span class="font-bold">amazing discounts storewide</span>
         <br>
            <a class="text-center pink">S<span class="text-lowercase">hop by brand and license</span></a></p>

          <div data-ride="carousel" class="carousel slide" id="carousel-example-generic">
            <div role="listbox" class="carousel-inner">
              <div class="item active"> <img src="http://res.cloudinary.com/mckshreder/image/upload/c_crop,h_90,q_100,w_911,x_352,y_720/v1445908649/inWholsalers/Nick4SMGprotophoto.png" alt="" class="img-responsive"> </div>
              <div class="item"> <img src="http://res.cloudinary.com/mckshreder/image/upload/c_crop,h_90,q_100,w_911,x_352,y_720/v1445908649/inWholsalers/Nick4SMGprotophoto.png" alt="" class="img-responsive"> </div>
              <div class="item"> <img src="http://res.cloudinary.com/mckshreder/image/upload/c_crop,h_90,q_100,w_911,x_352,y_720/v1445908649/inWholsalers/Nick4SMGprotophoto.png" alt="" class="img-responsive"> </div>
            </div>
          </div>
        
        
         </p>



         <div class="font-13 text-uppercase text-center">
            
            <ul class="list-unstyled list-inline mar-0 pull-left col-xs-12">
              <li class="pad-left-0 pad-right-0 col-xs-4"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_limit,h_40,o_75,q_100,w_300/v1445588299/No_Minimum_Order-logo_q36bfo.png" alt="" class="img-responsive pad-top-0"></li>
              <li class="pad-left-0 pad-right-0 col-xs-4"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_limit,h_40,o_75,q_100,w_300/v1445588138/Order_Bulk_Save-logo_2_y9mdhx.png" alt="" class="img-responsive pad-top-0"></li>
              <li class="mar-left-0 pad-right-0 col-xs-4"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_limit,h_40,o_75,q_100,w_300/v1445588545/Free_Shipping_-logo_11_cjrew5.png" alt="" class="img-responsive pad-top-0"></li>
            </ul>

          </div>
      </div>



 
       <!--  <div class="row tabs-sec">
          <div class="col-xs-12 clearfix">
            <div class="feature clearfix wow bounceInLeft" data-wow-duration="2s">
              
              <p class="font-18 text-uppercase deals"><span class="font-bold">inWholesalers</span>&nbsp;<span class="pull-right">O<span class="text-lowercase">nline shopping made easy</span></span></p>

      <ul class="list-unstyled list-inline hidden-sm hidden-xs mar-0 mar-top-20">
        <li class="pad-left-0 pad-right-0"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_limit,h_63,o_75,q_100,w_284/v1445588545/Free_Shipping_-logo_11_cjrew5.png" alt="" class="img-responsive"></li>
        <li class="pad-left-0 pad-right-0"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_limit,h_63,o_75,q_100,w_284/v1445588299/No_Minimum_Order-logo_q36bfo.png" alt="" class="img-responsive"></li>
        <li class="pad-left-0 pad-right-0"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_limit,h_63,o_75,q_100,w_284/v1445588138/Order_Bulk_Save-logo_2_y9mdhx.png" alt="" class="img-responsive"></li>
      </ul>
            </div>
          </div>
        </div>

 -->

     

<!-- <br> -->

    </div>
    <div class="col-md-3 col-sm-4 col-md-pull-9 col-sm-pull-8 hidden-xs wow bounceInRight" data-wow-duration="2s">
      <div class="nav-side-menu">
        <div class="category"><a href="#"><img src="../assets/images/category.jpg" alt="" class="img-responsive mar-top-0"></a></div>
        <div class="menu-list">
          <ul id="menu-content" class="menu-content collapse out">
            <!-- <li data-toggle="collapse" data-target="#home"> <a href="#"> Home <span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="home">
                 <li>
                  <%= link_to('Home',housewares_index_path)%>
                </li>
              </ul>
            </li> -->

          
      
        
        <li data-toggle="collapse" data-target="#appliances">
          <a name="Appliances" title="Appliances">Appliances<span class="arrow"></span></a>
        </li>

        <li data-toggle="collapse" data-target="#babyandkids">
          <a name="Baby, Kids &amp; Toys" title="Baby, Kids &amp; Toys">Baby, Kids & Toys<span class="arrow"></span></a>
        </li>
        
        <li data-toggle="collapse" data-target="#clothingAndHandbags">
          <a name="Clothing &amp; Handbags" title="Clothing &amp; Handbags">Clothing & Handbags<span class="arrow"></span></a>
        </li>
        
        <li data-toggle="collapse" data-target="#computersAndPrinters">
          <a name="Computers &amp; Printers" title="Computers &amp; Printers">Computers & Printers<span class="arrow"></span></a>
        </li>
        
        <li data-toggle="collapse" data-target="#electronics">
          <a name="Electronics" title="Electronics">Electronics<span class="arrow"></span></a>
        </li>
        
        <li data-toggle="collapse" data-target="#furniture">
          <a name="Furniture" title="Furniture">Furniture<span class="arrow"></span></a>
        </li>
        
        <li data-toggle="collapse" data-target="#groceryAndFloral">
          <a name="Grocery, Floral &amp; Pets" title="Grocery, Floral &amp; Pets">Grocery, Floral & Pets<span class="arrow"></span></a>
        </li>
        
        <li data-toggle="collapse" data-target="#holidayGiftsAndPets">
          <a name="Holiday, Gifts &amp; Tickets" title="Holiday, Gifts &amp; Tickets">Holiday, Gifts & Tickets<span class="arrow"></span></a>
        </li>
        
        <li data-toggle="collapse" data-target="#homeImprovement">
          <a name="Home Improvement" title="Home Improvement">Home Improvement<span class="arrow"></span></a>
        </li>
        
        <li data-toggle="collapse" data-target="#healthAndBeauty">
          <a name="Health &amp; Beauty" title="Health &amp; Beauty">Health & Beauty<span class="arrow"></span></a>
        </li>
        
        <li data-toggle="collapse" data-target="#homeKitchenBedAndBath">
          <a name="Home, Kitchen, Bed &amp; Bath" title="Home, Kitchen, Bed &amp; Bath">Kitchen, Bed & Bath<span class="arrow"></span></a>
        </li>
        
        <li data-toggle="collapse" data-target="#jewelryAndWatches">
          <a name="Jewelry &amp; Watches" title="Jewelry &amp; Watches">Jewelry & Watches<span class="arrow"></span></a>
        </li>
        
        <li data-toggle="collapse" data-target="#officeProducts">
          <a name="Office Products" title="Office Products">Office Products<span class="arrow"></span></a>
        </li>
        
       <!--  <li data-toggle="collapse" data-target="#patioAndOutdoor">
          <a name="Patio &amp; Outdoor" title="Patio &amp; Outdoor">Patio & Outdoor<span class="arrow"></span></a>
        </li>
        
        <li data-toggle="collapse" data-target="#sportsAndFitness">
          <a name="Sports &amp; Fitness" title="Sports &amp; Fitness">Sports & Fitness<span class="arrow"></span></a>
        </li>
        
        <li data-toggle="collapse" data-target="#travelAndLuggage">
          <a name="Travel &amp; Luggage" title="Travel &amp; Luggage">Travel & Luggage<span class="arrow"></span></a>
        </li>  -->
        
        <li data-toggle="collapse" data-target="#viewMoreCategories">
          <a name="View More Categories" title="View More Categories">View More Categories<span class="arrow"></span></a>
        </li>
      


           <!--  <li data-toggle="collapse" data-target="#cleaning"> <a href="#"> Cleaning Tools<span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="cleaning">
                 <li>
                  <%= link_to('Cleaning Tools',housewares_cleaning_tools_path)%>
                </li>
              </ul>
            </li>
            <li data-toggle="collapse" data-target="#chemicals"> <a href="#"> Household Chemicals<span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="chemicals">
                 <li>
                <%= link_to('Household Chemicals',housewares_house_chemicals_path)%>
                </li>
              </ul>
            </li>
            <li data-toggle="collapse" data-target="#cookware"> <a href="#"> Cookware <span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="cookware">
                  <li>
                  <%= link_to('Cookware',housewares_cookware_path)%>
                </li>
              </ul>
            </li>
            <li data-toggle="collapse" data-target="#food"> <a href="#"> Food Containers<span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="food">
                 <li>
                  <%= link_to('Food Containers',housewares_food_containers_path)%>
                </li>
              </ul>
            </li>
            <li data-toggle="collapse" data-target="#laundry"> <a href="#"> Laundry <span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="laundry">
                 <li>
                  <%= link_to('Laundry',housewares_laundry_path)%>
                </li>
              </ul>
            </li>
            <li data-toggle="collapse" data-target="#table_top"> <a href="#"> Tabletop Dining<span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="table_top">
                 <li>
                  <%= link_to('Tabletop Dining', housewares_tabletop_dining_path)%>
                </li>
              </ul>
            </li>
            <li data-toggle="collapse" data-target="#lics"> <a href="#"> Licensed Housewares<span class="arrow"></span></a>
              <ul class="sub-menu collapse" id="lics">
                 <li>
                  <%= link_to('Licensed Housewares',housewares_licensed_housewares_path)%>
                  </li>
              </ul>
            </li> -->

               
       
            
          </ul>
        </div>
      </div>
       <!-- <ul class="list-unstyled images-3 hidden-sm hidden-xs">
        <li><img src="../assets/images/free.jpg" alt="" class="img-responsive"></li>
        <li><img src="../assets/images/off.jpg" alt="" class="img-responsive"></li>
      </ul> -->
    </div>
  </div>



</div>
<div class="clearfix"></div>
<div class="container">
  <div class="timer-sec">
    <div class="row">
      <div class="col-md-3 col-sm-12 hidden-xs wow bounceInLeft" data-wow-duration="2s">
      <ul class="list-unstyled images-3 hidden-sm hidden-xs">
        <li><img src="../assets/images/free.jpg" alt="" class="img-responsive"></li>
        <li><img src="../assets/images/off.jpg" alt="" class="img-responsive"></li>
      </ul>
        <div class="row">
          <div class="col-xs-12">
            <div class="feature">
              <p class="font-18 text-uppercase deals"><span class="font-bold">Super</span> deals</p>
            </div>
          </div>
        </div>
        <div class="pro-item">
         <!--  <div class="counter-timer">
            <ul class="list-unstyled">
              <li>
                <div id="daysBox" class="font-bold font-16">15</div>
                Days </li>
              <li>
                <div id="hoursBox" class="font-bold font-16">8</div>
                Hours </li>
              <li>
                <div id="minsBox" class="font-bold font-16">0</div>
                Minutes </li>
              <li>
                <div id="secsBox" class="font-bold font-16">35</div>
                Seconds </li>
            </ul>
          </div> -->
          <div class=""> <img src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/98458_M.jpg" alt="" class="img-responsive" ><br>
            <br>
            <p class="font-15">Solo Bag In Natural</p>
            <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="row">
              <div class="col-xs-12">
                <div class="feature">
                  <p class="font-18 text-uppercase deals"><span class="font-bold">Recent</span> news</p>
                </div>
              </div>
            </div>
            <div class="pro-item post">
              <div class="">
                <p class="text-uppercase font-bold">The Article #1</p>
                <p class="font-13">Vivamus venenatis porta purus sit am et feugiat nulla  [ <span class="pink">read more</span> ]</p>
                <br>
                <div class="line"></div>
                <p class="text-uppercase font-bold">The Article #2</p>
                <p class="font-13">Vivamus venenatis porta purus sit am et feugiat nulla  [ <span class="pink">read more</span> ]</p>
                <br>
                <div class="line"></div>
                <p class="text-uppercase font-bold">The Article #3</p>
                <p class="font-13">Vivamus venenatis porta purus sit am et feugiat nulla  [ <span class="pink">read more</span> ]</p>
              </div>
            </div>
          </div>
        </div> -->
        <div class="row hidden-sm hidden-xs">
          <br>
          <div class="col-md-12 last-item">
            <img class="img-responsive" alt="" src="http://res.cloudinary.com/mckshreder/image/upload/c_fill,h_335,q_100,w_280/v1445348839/517218NggML_bl9kz7.jpg">
          </div>
          <div class="col-md-12 last-item">
            <br>
            <img class="img-responsive" alt="" src="http://res.cloudinary.com/mckshreder/image/upload/q_100/v1445573939/inWholsalers/Wilson-Baseball-Dept-Pic.jpg"></div>
        </div>

      </div>
      


      <div class="col-md-9 col-sm-12 wow bounceInUp" data-wow-duration="2s">
       <div class="row">
         <div class="col-md-5 col-sm-12">
            <!-- <p class="font-15 font-bold text-uppercase">newsleeter</p> -->
            <ul class="list-unstyled">
              <li><p class="font-10 text-uppercase deals pad-top-0"><span class="font-bold">get the most out of inWholesalers.</span>&nbsp;<br><span class="text-lowercase">be the first to know about new arrivals,</span>&nbsp;<a class="pull-left pink"><span class="text-lowercase">exclusive offers and promotions,</span></a></p></li>


            </ul>
            <br>
            
          </div>
          <div class="col-md-7 col-sm-12">
            
            <!-- <br> -->
            <div class="input-group search">
              <input type="text" placeholder="Sign up now via email" class="form-control pink">
              <span class="input-group-btn">
              <button type="button" class="btn btn-default">Sign up!</button>
              </span> </div>
          </div>
            <!-- /input-group --> 
        </div>
          

        <div class="row">
          <div class="col-xs-12">
            <div class="feature clearfix">
              <p class="font-18 text-uppercase deals pull-left"><span class="font-bold">FEATURE</span> products</p>
              <ul role="tablist" class="tab-links pull-right list-inline" id="myTab">
                <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#home">Home<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class=""><a aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="#profile" aria-expanded="false">Kitchen<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class=""><a aria-controls="kidss" data-toggle="tab" id="kidss-tab" role="tab" href="#kidss" aria-expanded="false"> Office<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class=""><a aria-controls="access" data-toggle="tab" id="access-tab" role="tab" href="#access" aria-expanded="false"> Accessories </a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="bs-example bs-example-tabs mar-bot-10" role="tabpanel" data-example-id="togglable-tabs">
          <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">

             <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/32735_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/16847_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/36633_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/21412_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>

             
            </div>
            <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/51563_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/30968_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/56176_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/13892_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="kidss" aria-labelledby="kidss-tab">
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-26.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-25.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-24.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="../assets/images/b-23.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="access" aria-labelledby="access-tab">
               <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/74943_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/68322_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/68548_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/56179_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="wow bounceInRight" data-wow-duration="1s">
          <div class="col-md-8 col-sm-8">
            <div class="row"> <img style="max-height:324px;" class="img-responsive hvr-float" alt="" src="http://res.cloudinary.com/mckshreder/image/upload/c_fill,g_north_east,h_1080,q_100,w_1920/v1445350249/Why-Is-Spring-Cleaning-so-Important_shaekq.png"></div>
          </div>
          <div class="col-md-4 col-sm-4 spring">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="row">
                  <ul class="list-unstyled man-li">
                    <li><img class="img-responsive hvr-float" alt="" src="http://res.cloudinary.com/mckshreder/image/upload/c_fill,h_157,q_100,w_280/v1445342199/t-fal-c784sc64-premium-stainless-steel-12-piece-cookware-set_1_bdi2dg.jpg"></li>
                    <li><img class="img-responsive hvr-float" alt="" src="http://res.cloudinary.com/mckshreder/image/upload/c_fill,h_157,q_100,w_280/v1445342818/DSC_8256_Parippuvada_Bento_Box_2_m5ywuk.jpg"></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row tabs-sec">
          <div class="col-xs-12 clearfix">
            <div class="feature clearfix wow bounceInLeft" data-wow-duration="2s">
              <p class="font-18 text-uppercase deals pull-left"><span class="font-bold">LATEST</span> products</p>
              <ul id="myTab-2" class="tab-links pull-right list-inline" role="tablist">
                <li role="presentation" class="active"><a href="#home-2" id="home-tabb" role="tab" data-toggle="tab" aria-controls="home-2" aria-expanded="true">Home<span class="slash-spacing">/</span></a></li>
                <li class="" role="presentation"><a aria-expanded="false" href="#profile-2" role="tab" id="prfile-tab" data-toggle="tab" aria-controls="profile-2"> Kitchen<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class="active"><a href="#kids-2" id="kids-tab" role="tab" data-toggle="tab" aria-controls="kids-2" aria-expanded="true"> Office<span class="slash-spacing">/</span></a></li>
                <li role="presentation" class="active"><a href="#acc-2" id="acc-tab" role="tab" data-toggle="tab" aria-controls="acc" aria-expanded="true"> Accessories</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="wow bounceInLeft" role="tabpanel" data-example-id="togglable-tabs">
          <div id="myTabContent-2" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="home-2" aria-labelledby="home-tabb">
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/51563_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/30968_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/56176_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/13892_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="profile-2" aria-labelledby="profile-tab">
              
             <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/32735_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/16847_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/36633_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/21412_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="kids-2" aria-labelledby="kids-tab">
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/74943_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/68322_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/68548_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/56179_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              
            </div>
            <div role="tabpanel" class="tab-pane fade" id="acc-2" aria-labelledby="acc-tab">
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/74943_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/M/68322_M.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/68548_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
              <div class="col-md-3 col-sm-6 pro-item"> <img class="img-responsive" alt="" src="http://www.4sgm.com/is-bin/intershop.static/WFS/4sgm-Storefront-Site/-/en_US/images/product_new/P/56179_P.jpg">
                <p class="font-15">Solo Bag In Natural</p>
                <p class="font-15 orange font-bold"><del class="light-grey lighter">$409.00</del>$260.00</p>
                <div class="clearfix"> <a href="#" class="cart">add to cart</a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="../assets/js/jquery-v11.js"></script> 

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="../assets/js/bootstrap.min.js"></script> 

<!-- Main Scripts--> 

<script src="../assets/js/search.js"></script> 
<script src="../assets/js/ttmenu.js"></script> 

<script src="../assets/js/custom.js"></script> 
<script>

cdtd();</script><!--animations--> 
<script src="../assets/js/wow.min.js"></script> 
<script>
 new WOW().init();
</script>