



<!-- <%= @items %>? -->


<% if @entriesArray.count > 0 %>
    <% @entriesArray.each do |entry| %>
    <div class = "html_feed">

    <br>
    <p>Title:  <%= entry.title %></p>
    <p>link:  <%= entry.link %></p>
    <p>id:  <%= entry.id %></p>
    <p>pack:  <%= entry.pack %></p>
    <p>image.url:  <%= entry.image %></p>
    <p>reg:  <%= entry.reg_price %></p>
    <p>sale:  <%= entry.sale_price %></p>
    <p>submitted:  <%= entry.submitted %></p>
    
    </div>
    <% end %>   
<% else %>
    <h2>No Posts Exist</h2>
<% end %>