<!DOCTYPE html>
<html>
<head>
	<title>InWholesalers</title>
	<!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> -->
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon-precomposed" href="http://res.cloudinary.com/mckshreder/image/upload/c_fill,h_57,q_100,w_57/v1445596850/logo_1_j7ya6s.png"/>
  <link rel="shortcut icon" href="http://res.cloudinary.com/mckshreder/image/upload/c_fill,h_60,q_100,w_60/v1445596850/logo_1_j7ya6s.png">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


	<!-- Bootstrap -->

	<!-- Font Awesome Styles -->
	<link type="text/css" rel="stylesheet" href="../assets/css/font-awesome.css">
	<!-- Bootstrap Styles -->

	<link href="../assets/css/menu-horizontal.css" rel="stylesheet">
	<link href="../assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="../assets/css/style-horizontal.css" rel="stylesheet">
	<!--animations-->
	<link href="../assets/css/animate.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/hover.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>

 

  <div class="up-header clearfix hidden-xs">
    <div class="container">
      <ul class="list-unstyled list-inline pull-left hidden-xs">
        <li>Welcome!</li>
        <li><a class="pink" href="#">Sign In</a><span>&nbsp;or&nbsp;</span><a class="pink" href="#">Register</a></li>
      </ul>
      <ul class="list-inline list-unstyled icons-topp ">
        
        <li class="dropdown hidden-xs"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle">My Account&nbsp;<i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu dropdown-menu-2">
            <li><a href="#">My Account</a></li>
            <li><a href="#">My Wishlist</a></li>
            <li><a href="#">My Cart</a></li>
            <li><a href="#">Checkout</a></li>
            <li><a href="#">from the blog</a></li>
            <li><a href="#">login</a></li>
          </ul>
        </li>
        <li class="dropdown"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle">Contact Us&nbsp;<i class="fa fa-angle-down"></i></a>
       
        </li>
        <li class="dropdown"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle">Eng&nbsp;<i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu dropdown-menu-2">
            <li><a href="#">Spanish</a></li>
            <li><a href="#">German</a></li>
            <li><a href="#">Korean</a></li>
            <li><a href="#">Chinese</a></li>
            <li><a href="#">Arabic</a></li>
          </ul>
        </li>
        <li class="dropdown"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle">$ USD&nbsp;<i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu dropdown-menu-2">
            <!-- <li><a href="#">£Pound</a></li>
            <li><a href="#">Euro</a></li>
            <li><a href="#">Rupees</a></li> -->
            <li><a href="#">$Dollar</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  

  <div class="header clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 hidden-sm hidden-xs"><img src="../assets/images/logo-no-line.png" alt="" class="img-responsive"></div>
        <!--- START OF NAV SEARCH BAR-->
          <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="header-search">
                  <form class="form-inline">
                    <div class="form-group">
                      <div class="input-group">
                       <!--  <div class="input-group-addon hidden-xs">
                          <select>
                            <option>All Items&nbsp;</option>
                            <option>Come</option>
                            <option>ing</option>
                            <option>Soon</option>
                          </select>
                        </div> -->
                        <a class="input-group-addon " id="sizing-addon1">
                        <span class="glyphicon glyphicon-search input-group-addon " aria-hidden="true"></span>
                        </a>
                        <input type="text" class="form-control item-header pad-left-0 pink" placeholder="What are you searching for?">
                        <!-- <div class="input-group-btn">
                          <button class="btn btn-default" type="button">Go!</button>
                        </div> -->
                      </div>
                    </div>
                  </form>
                </div>
      </div>
        <!-- THIS IS THE ORIGINAL DIV FOR THE ONE BELOW <div class="col-md-3 col-sm-5 col-xs-12"> -->
        <div class="col-md-3 col-sm-3 hidden-xs">
            <div class="cart-text">
              <div class="text-right dropdown">
                <ul class="list-unstyled list-inline">
                  <li><a class="light-grey social fa fa-star-o round-border" href="#"></a></li>
                  <li>
                    <p class="text-left"><span class="font-bold">Wish</span><br>
                      List</p>
                  </li>
                  <li> <a data-toggle="dropdown" class="dropdown-toggle social fa  fa-shopping-cart round-border pink-color" href="#" aria-expanded="true"></a>
                    <div class="dropdown-menu items-drop">
                      <div class="line-grey"> Recently Added Item(s) </div>
                      <div class="row mar-bot-20">
                        <div class="items-iner mar-bot-20">
                          <div class="col-xs-4 "><img alt="" src="../assets/images/party-shirt.jpg" style="width:56px;height:60px;
                        margin-bottom:20px;
                        padding-left:2px;"></div>
                          <div class="col-xs-8">
                            <p class="font-13 light-grey mar-bot-0 black-imp">Et harum quide dress</p>
                            <p class="font-13 mar-top-0">01 X $260.00<a href="#"><span class="pull-right"><img src="../assets/images/delete.png" alt="" class="img-responsive"></span></a></p>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="line-full"></div>
                      <br>
                      <div class="row mar-bot-20">
                        <div class="items-iner mar-bot-20">
                          <div class="col-xs-4 "><img alt="" src="../assets/images/party-shirt.jpg" style="width:56px;height:60px;
                        margin-bottom:20px;
                        padding-left:2px;"></div>
                          <div class="col-xs-8">
                            <p class="font-13 light-grey mar-bot-0 black-imp">Et harum quide dress</p>
                            <p class="font-13 mar-top-0">01 X $260.00<a href="#"><span class="pull-right"><img src="../assets/images/delete.png" alt="" class="img-responsive"></span></a></p>
                          </div>
                        </div>
                      </div>
                      <div class="line-full"></div>
                      <br>
                      <div class="clearfix mar-bot-10">SUBTOTAL:<span class="pull-right font-bold">$780.00 </span></div>
                      <div class="mar-top-30 clearfix mar-bot-20 btns">
                        <div class="col-md-6 col-xs-6">
                          <div class="row"> <a class="no-border" href="#"><img class="img-responsive" alt="" src="../assets/images/view.png"></a></div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                          <div class="row"> <a class="no-border" href="#"><img style="margin-left:4px;" class="img-responsive" alt="" src="../assets/images/checkout.png"></a></div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <p class="text-left"><span class="font-bold">My</span> Cart (02)<br>
                      $ 260.00</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
    </div>
  </div>

  <div class="below-header hidden-lg hidden-md">
    <div class="container wow bounceInLeft" data-wow-duration="2s">
      <div class="">
        <div class="hero">
          <div class="clickablemenu ttmenu dark-style menu-red-gradient">
            <div class="navbar navbar-default" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
               
                <a class="navbar-brand hidden-md hidden-lg visible-sm visible-xs" href="#"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_fit,h_52,q_100,w_163/v1445329244/logo-no-line_lyte5g.png" alt=""></a> </div>
              <!-- end navbar-header -->
              
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav col-md-3 col-sm-12 col-xs-12">
                  <li class="dropdown ttmenu-full">
                  <!-- <a href="/index" data-toggle="dropdown" class="dropdown-toggle">Home <b class="dropme"></b></a> -->
                    <ul id="first-menu" class="dropdown-menu">
                      <li>
                        <div class="ttmenu-content">
                          <div class="tabbable row">
                            <div class="col-md-3">
                              <ul class="nav nav-pills nav-stacked">
                                <li><%= link_to('Go HOME', housewares_index_path)%></li>
                                <li><a href="#tabs5-pane2" data-toggle="tab">Future Thumbnail Elements</a></li>
                                <li><a href="#tabs5-pane3" data-toggle="tab">Carousel Slider option aswell</a></li>
                              </ul>
                            </div>
                            <!-- end col -->
                            <div class="col-md-9">
                              <div class="tab-content">
                                <div id="tabs5-pane1" class="tab-pane active">
                                  <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                      <div class="box">
                                        <!-- <ul>
                                          <li>
                                            <h4>FONT ICON SUPPORT</h4>
                                          </li>
                                          <li><a href="#">Web Design <span class="fa fa-laptop"></span></a></li>
                                          <li><a href="#">Web Development <span class="fa fa-gears"></span></a></li>
                                          <li><a href="#">Graphic Design <span class="fa fa-leaf"></span></a></li>
                                          <li><a href="#">IOS & ANDROID <span class="fa fa-android"></span></a></li>
                                          <li><a href="#">Logo Design <span class="fa fa-pencil"></span></a></li>
                                          <li><a href="#">Mockup Design <span class="fa fa-maxcdn"></span></a></li>
                                          <li><a href="#">e-Commerce <span class="fa fa-shopping-cart"></span></a></li>
                                          <li><a href="#">Digital Marketing <span class="fa fa-desktop"></span></a></li>
                                          <li><a href="#">SEO Services <span class="fa fa-area-chart"></span></a></li>
                                        </ul> -->
                                      </div>
                                      <!-- end box --> 
                                    </div>
                                    <!-- end col -->
                                    
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                      <div class="box">
                                        <!-- <ul>
                                          <li>
                                            <h4>WHY CHOOSE TT MENU</h4>
                                          </li>
                                          <li><a href="#">Responsive Layout</a></li>
                                          <li><a href="#">Retina Display Ready</a></li>
                                          <li><a href="#">Tons of Icons</a></li>
                                          <li><a href="#">Gradient Colors</a></li>
                                          <li><a href="#">Beginner Friendly</a></li>
                                          <li><a href="#">Detailed Documentation</a></li>
                                          <li><a href="#">100% Bootstrap Base</a></li>
                                          <li><a href="#">HTML5 CSS3</a></li>
                                          <li><a href="#">And Much More...</a></li>
                                        </ul> -->
                                      </div>
                                      <!-- end box --> 
                                    </div>
                                    <!-- end col -->
                                   <!--  <div class="col-md-4 col-sm-6 col-xs-12"> <img src="../assets/images/darkmenubg.png" alt="" class="img-responsive"> </div> -->
                                    <!-- end col --> 
                                  </div>
                                  <!-- end row --> 
                                </div>
                                <div id="tabs5-pane2" class="tab-pane">
                                  <div class="row">
                                    <div class="col-md-4 menu-image">
                                      <div class="widget clearfix"> <a href="#">
                                        <div class="entry"> <img src="../assets/images/menu_mini_01.png" alt="" class="img-responsive"> <span class="magnifier"></span> </div>
                                        <!-- enntry --> 
                                        </a> </div>
                                      <!-- end widget --> 
                                    </div>
                                    <!-- end col -->
                                    <div class="col-md-4 menu-image">
                                      <div class="widget clearfix"> <a href="#">
                                        <div class="entry"> <img src="../assets/images/menu_mini_02.png" alt="" class="img-responsive"> <span class="magnifier"></span> </div>
                                        <!-- enntry --> 
                                        </a> </div>
                                      <!-- end widget --> 
                                    </div>
                                    <!-- end col -->
                                    <div class="col-md-4 menu-image">
                                      <div class="widget clearfix"> <a href="#">
                                        <div class="entry"> <img src="../assets/images/menu_mini_03.png" alt="" class="img-responsive"> <span class="magnifier"></span> </div>
                                        <!-- enntry --> 
                                        </a> </div>
                                      <!-- end widget --> 
                                    </div>
                                    <!-- end col -->
                                    <div class="col-md-4">
                                      <div class="widget clearfix"> <a href="#">
                                        <div class="entry"> <img src="../assets/images/menu_mini_04.png" alt="" class="img-responsive"> <span class="magnifier"></span> </div>
                                        <!-- enntry --> 
                                        </a> </div>
                                      <!-- end widget --> 
                                    </div>
                                    <!-- end col -->
                                    <div class="col-md-4">
                                      <div class="widget clearfix"> <a href="#">
                                        <div class="entry"> <img src="../assets/images/menu_mini_05.png" alt="" class="img-responsive"> <span class="magnifier"></span> </div>
                                        <!-- enntry --> 
                                        </a> </div>
                                      <!-- end widget --> 
                                    </div>
                                    <!-- end col -->
                                    <div class="col-md-4">
                                      <div class="widget clearfix"> <a href="#">
                                        <div class="entry"> <img src="../assets/images/menu_mini_06.png" alt="" class="img-responsive"> <span class="magnifier"></span> </div>
                                        <!-- enntry --> 
                                        </a> </div>
                                      <!-- end widget --> 
                                    </div>
                                    <!-- end col --> 
                                  </div>
                                  <!-- end row --> 
                                </div>
                                <div id="tabs5-pane3" class="tab-pane">
                                  <div class="row spring">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      <div class="box">
                                        <h4>ABOUT OUR COMPANY</h4>
                                        <p>Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham de  Bonorum " are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                        <p>Finibus Bonorum et Malorum" are also form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                        <button class="btn btn-primary small">Read more</button>
                                      </div>
                                      <!-- end box --> 
                                    </div>
                                    <!-- end col -->
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                          <div class="item active"> <a href="single-project.html"><img src="../assets/images/menu_01.png" class="img-responsive" alt=""></a> </div>
                                          <!-- End Item -->
                                          <div class="item"> <a href="single-project.html"><img src="../assets/images/menu_02.png" class="img-responsive" alt=""></a> </div>
                                          <!-- End Item --> 
                                        </div>
                                        <!-- End Carousel Inner --> 
                                      </div>
                                      <!-- /.carousel --> 
                                    </div>
                                    <!-- end col --> 
                                  </div>
                                  <!-- end row --> 
                                </div>
                              </div>
                              <!-- /.tab-content --> 
                            </div>
                            <!-- end col --> 
                          </div>
                          <!-- /.tabbable --> 
                        </div>
                        <!-- end ttmenu-content --> 
                      </li>
                    </ul>
                  </li>
                  <!-- end mega menu -->
                  <!-- <li class="dropdown ttmenu-full"><a href="home-2.html" data-toggle="dropdown" class="dropdown-toggle">shop</a> </li> -->
                  <!-- end mega menu -->
                  <!-- <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">blog</a> </li> -->
                  <!-- <li class="dropdown ttmenu-full"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Portfolio</a> </li> -->
                  <!-- <li class="dropdown ttmenu-full"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Shortcodes </a></li> -->
                  
                  <!-- end mega menu -->
                  <!-- <li class="dropdown ttmenu-full"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Contact <b class="dropme"></b></a> -->
                    <ul class="dropdown-menu">
                      <li>
                        <div class="ttmenu-content">
                          <div class="row">
                            <div class="col-md-3">
                              <div class="box">
                                <ul>
                                  <li>
                                    <h4>CONTACT DETAILS</h4>
                                  </li>
                                  <li><a href="#">support@inwholesale.com <span class="fa fa-envelope-o"></span></a></li>
                                  <li><a href="#">www.inwholesale.com <span class="fa fa-link"></span></a></li>
                                  <li><a href="#">(0) +911 333 44 55 <span class="fa fa-phone"></span></a></li>
                                  <li><a href="#">(0) +911 333 44 80 <span class="fa fa-fax"></span></a></li>
                                  <li><a href="#">Vernon<br>
                                    California, USA</a></li>
                                </ul>
                              </div>
                              <!-- end box --> 
                            </div>
                            <!-- end col -->
                            <div class="col-md-6">
                              <div class="row">
                                <div class="box"> <br>
                                  <form id="contact" action="#" class="row" name="contactform" method="post">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                      <input type="text" name="name" id="name2" class="form-control" placeholder="Name">
                                      <input type="text" name="email" id="email2" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                      <input type="text" name="phone" id="phone2" class="form-control" placeholder="Phone">
                                      <input type="text" name="subject" id="subject2" class="form-control" placeholder="Subject">
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <textarea class="form-control" name="comments" id="comments2" rows="6" placeholder="Your Message ..."></textarea>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <div class="pull-left">
                                        <input type="submit" value="SEND" id="submit2" class="btn btn-primary small">
                                      </div>
                                    </div>
                                  </form>
                                </div>
                                <!-- end box --> 
                              </div>
                              <!-- end row --> 
                            </div>
                            <!-- end col -->
                            <div class="col-md-3">
                              <div class="box">
                                <ul>
                                  <li>
                                    <h4>OTHER NOTES</h4>
                                  </li>
                                  <li>
                                    <p>Finibus Bonorum et Malorum" are also form, accompanied by English versions from the  accompanied by English versions from theaccompanied by English versions from the 1914 translation by H. Rackham.</p>
                                  </li>
                                </ul>
                              </div>
                              <!-- end box --> 
                            </div>
                            <!-- end col --> 
                          </div>
                          <!-- end row --> 
                        </div>
                        <!-- end ttmenu content --> 
                      </li>
                    </ul>
                  </li>
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
              
                
  <!-- start of -->
      <!-- <ul class="list-unstyled list-inline hidden-xs mar-0 col-md-6 hidden-s hidden-xs pull-left">
        <li class="mar-left-24 pad-right-0"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_limit,h_40,o_75,q_100,w_350/v1445588545/Free_Shipping_-logo_11_cjrew5.png" alt="" class="img-responsive pad-top-0"></li>
        <li class="pad-left-0 pad-right-0"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_limit,h_40,o_75,q_100,w_350/v1445588299/No_Minimum_Order-logo_q36bfo.png" alt="" class="img-responsive pad-top-0"></li>
        <li class="pad-left-0 pad-right-0"><img src="http://res.cloudinary.com/mckshreder/image/upload/c_limit,h_40,o_75,q_100,w_350/v1445588138/Order_Bulk_Save-logo_2_y9mdhx.png" alt="" class="img-responsive pad-top-0"></li>
      </ul> -->
  

  <!-- THIS IS WHERE THE SIGN IN SHOWS ON THE B0TTOM RIGHT TOP NAV -->


      <ul class="list-inline list-unstyled icons-topp hidden-lg hidden-md col-sm-12 col-xs-12 text-right pull-right pad-0">
        <ul class="list-inline list-unstyled icons-top text-right">
          <li>Welcome!</li>
          <li><a class="pink" href="#">Sign In</a><span>&nbsp;or&nbsp;</span><a class="pink" href="#">Register</a></li>
        </ul>

        <!-- <li class="dropdown"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle">My Account&nbsp;<i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu dropdown-menu-2">
            <li><a href="#">My Account</a></li>
            <li><a href="#">My Wishlist</a></li>
            <li><a href="#">My Cart</a></li>
            <li><a href="#">Checkout</a></li>
            <li><a href="#">from the blog</a></li>
            <li><a href="#">login</a></li>
          </ul>
        </li> -->
        <li class="dropdown"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle">Contact Us&nbsp;<i class="fa fa-angle-down"></i></a>
       
        </li>
        <li class="dropdown"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle">Eng&nbsp;<i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu dropdown-menu-2">
            <li><a href="#">Spanish</a></li>
            <li><a href="#">German</a></li>
            <li><a href="#">Korean</a></li>
            <li><a href="#">Chinese</a></li>
            <li><a href="#">Arabic</a></li>
          </ul>
        </li>
        <li class="dropdown"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle">$ USD&nbsp;<i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu dropdown-menu-2">
            <!-- <li><a href="#">£Pound</a></li>
            <li><a href="#">Euro</a></li>
            <li><a href="#">Rupees</a></li> -->
            <li><a href="#">$Dollar</a></li>
          </ul>
        </li>
      </ul>

        <li class="dropdown ttmenu-full hidden-lg hidden-md col-sm-12 col-xs-12"><a href="#" data-toggle="dropdown" class="dropdown-toggle">View All Categories<b class="dropme"></b></a>
                    <ul class="dropdown-menu">
                      <li>
                        <div class="ttmenu-content">
                          <div class="row">
                            <div class="col-sm-12 col-xs-12">
                              <div class="box">
                                <ul>
                                <li>
                                  <%= link_to('Home',housewares_index_path)%>
                                </li>
                                <li>
                                  <%= link_to('Category Grid View',housewares_cookware_path)%>
                                </li>

                                <li>
                                  <%= link_to('Food Containers',housewares_food_containers_path)%>
                                </li>
                                </ul>
                              </div>
                              <!-- end box --> 
                            </div>
                            <!-- end col -->
                            <div class="col-sm-12 col-xs-12">
                              <div class="box">
                                <ul>
                                 
                                <li>
                                  <%= link_to('Laundry',housewares_laundry_path)%>
                                </li>

                                <li>
                                  <%= link_to('Tabletop Dining',housewares_tabletop_dining_path)%>
                                </li>

                                <li>
                                  <%= link_to('Cleaning Tools',housewares_cleaning_tools_path)%>
                                </li>
                                
                                  
                                </ul>
                              </div>
                               
                            </div>
                            <!-- end col -->
                            <div class="col-sm-12 col-xs-12">
                              <div class="box">
                                <ul>
                                  <li>
                                <%= link_to('Household Chemicals',housewares_house_chemicals_path)%>
                                </li>

                                <li><%= link_to('Licensed Housewares',housewares_licensed_housewares_path)%></li>
                                   
                                  
                                </ul>
                              </div>
                              
                            </div>
                            <!-- end col -->
                            
                            <!-- end col --> 
                          </div>
                          <!-- end row --> 
                        </div>
                        <!-- end ttmenu-content --> 
                      </li>
                    </ul>
                  </li> 



<!--- START OF NAV SEARCH BAR-->
                  <!-- <div class="col-md-6 col-sm-7 col-xs-12">
                    <div class="header-search">
                      <form class="form-inline">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <select>
                                <option>Category&nbsp;</option>
                                <option>Come</option>
                                <option>ing</option>
                                <option>Soon</option>
                              </select>
                            </div>
                            <input type="text" class="form-control item-header" placeholder="Search Your item here...">
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>

 -->

        






      <!--   <div class="cart-text ">
            <div class="text-right dropdown pull-right">
              <ul class="list-unstyled list-inline ">
                <li><a class="light-grey social fa fa-star-o round-border" href="#"></a></li>
                <li>
                  <p class="text-left"><span class="font-bold">Wish</span><br>
                    List</p>
                </li>
                <li> <a data-toggle="dropdown" class="dropdown-toggle social fa  fa-shopping-cart round-border pink-color" href="#" aria-expanded="true"></a>
                  <div class="dropdown-menu items-drop">
                    <div class="line-grey"> Recently Added Item(s) </div>
                    <div class="row mar-bot-20">
                      <div class="items-iner mar-bot-20">
                        <div class="col-xs-4 "><img alt="" src="../assets/images/party-shirt.jpg" style="width:56px;height:60px;
                      margin-bottom:20px;
                      padding-left:2px;"></div>
                        <div class="col-xs-8">
                          <p class="font-13 light-grey mar-bot-0 black-imp">Et harum quide dress</p>
                          <p class="font-13 mar-top-0">01 X $130.00<a href="#"><span class="pull-right"><img src="../assets/images/delete.png" alt="" class="img-responsive"></span></a></p>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="line-full"></div>
                    <br>
                    <div class="row mar-bot-20">
                      <div class="items-iner mar-bot-20">
                        <div class="col-xs-4 "><img alt="" src="../assets/images/party-shirt.jpg" style="width:56px;height:60px;
                      margin-bottom:20px;
                      padding-left:2px;"></div>
                        <div class="col-xs-8">
                          <p class="font-13 light-grey mar-bot-0 black-imp">Et harum quide dress</p>
                          <p class="font-13 mar-top-0">01 X $130.00<a href="#"><span class="pull-right"><img src="../assets/images/delete.png" alt="" class="img-responsive"></span></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="line-full"></div>
                    <br>
                    <div class="clearfix mar-bot-10">SUBTOTAL:<span class="pull-right font-bold">$780.00 </span></div>
                    <div class="mar-top-30 clearfix mar-bot-20 btns">
                      <div class="col-md-6 col-xs-6">
                        <div class="row"> <a class="no-border" href="#"><img class="img-responsive" alt="" src="../assets/images/view.png"></a></div>
                      </div>
                      <div class="col-md-6 col-xs-6">
                        <div class="row"> <a class="no-border" href="#"><img style="margin-left:4px;" class="img-responsive" alt="" src="../assets/images/checkout.png"></a></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <p class="text-left"><span class="font-bold">My</span> Cart (02)<br>
                    $ 260.00</p>
                </li>
              </ul>
            </div>
          </div> -->

             
                  <!-- end mega menu -->
                </ul>


                <!-- end nav navbar-nav --> 
                
              </div>
              <!--/.nav-collapse --> 
            </div>
            <!-- end navbar navbar-default clearfix --> 
          </div>
          <!-- end menu 1 --> 
        </div>
        <!-- end hero --> 
        
      </div>
    </div>
    
    
    
  </div>
</div>



  
  
  
  
</header>

<body>





<!--page is here-->
<%= yield%>



<footer>
  <div class="container wow bounceInUp" data-wow-duration="2s">
    <div class="col-md-3 col-sm-6 footer-item"> <img src="../assets/images/logo-no-line.png" alt="" class="img-responsive">
      <ul class="list-unstyled footer-icons">
        <li class="message">contact@inwholesalers.com</li>
        <li  class="phone">+1 (00) 86 868 868 666 - 868 666 888</li>
      </ul>
      <div class="social-icons-2"> <a href="#" class="social fa fa-twitter" title="google-plus"></a> <a href="#" class="social fa fa-google-plus" title="google-plus"></a><a href="#" class="social fa fa-facebook fa-icon" title="google-plus"></a><a href="#" class="social fa fa-linkedin" title="Linkedin"></a> <a href="#" class="social fa fa-pinterest" title="Pinterest"></a></div>
    </div>
    <div class="col-md-2 col-sm-6 footer-item">
      <p class="font-15 font-bold text-uppercase">Help</p>
      <ul class="list-unstyled footer-links">
        <li> <a href="#">Orders & Returns</a> </li>
        <li> <a href="#">Search Terms</a> </li>
        <li> <a href="#">Advance Search</a> </li>
        <li> <a href="#">Affiliates</a> </li>
      </ul>
    </div>
    <!-- <div class="col-md-2 col-sm-3 footer-item">
      <p class="font-15 font-bold text-uppercase">My Account</p>
      <ul class="list-unstyled footer-links">
        <li> <a href="#">About Us</a> </li>
        <li> <a href="#">Delivery Information</a> </li>
        <li> <a href="#">Privacy & Policy</a> </li>
        <li> <a href="#">Terms & Conditions</a> </li>
      </ul>
    </div> -->
    <div class="col-md-2 col-sm-6 footer-item">
      <p class="font-15 font-bold text-uppercase">Information</p>
      <ul class="list-unstyled footer-links">
        <li> <a href="#">About Us</a> </li>
        <li> <a href="#">Delivery Information</a> </li>
        <li> <a href="#">Privacy & Policy</a> </li>
        <li> <a href="#">Terms & Conditions</a> </li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6 footer-item">
      <!-- <p class="font-15 font-bold text-uppercase">newsleeter</p> -->
      <ul class="list-unstyled footer-links">
        <li> <a href="#">Sign up  with your email to get updates!</a> </li>
      </ul>
      <br>
      <div class="input-group search">
        <input type="text" placeholder="Type your email" class="form-control">
        <span class="input-group-btn">
        <button type="button" class="btn btn-default">Go</button>
        </span> </div>
      <!-- /input-group --> 
      
    </div>
  </div>
</footer>
<div class="line-full"></div>
<br>
<div class="below-footer clearfix">
  <div class="container">
    <p class=" pull-left font-14">Copyright &copy; 2015 <span class="pink">in Wholesalers.</span> </p>
    <div class="pull-right">
      <ul class="list-unstyled list-inline">
        <li><a href="#"><img src="../assets/images/visa.png" alt=""></a></li>
        <li><a href="#"><img src="../assets/images/card.png" alt=""></a></li>
        <li><a href="#"><img src="../assets/images/discover.png" alt=""></a></li>
        <li><a href="#"><img src="../assets/images/american.png" alt=""></a></li>
        <li><a href="#"><img src="../assets/images/paypal.png" alt=""></a></li>
      </ul>
    </div>
  </div>
</div>


<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/562f1ace0ebcba1803b2523c/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
</html>
